.example-card {
  max-width: 260px;
  transition: transform 1s;
  color: white;
  border-radius: 10px;
  height: 390px;
  background-color: #252525;
}
.example-card:hover {
  transform: scale(1.05);
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  cursor: pointer;
}

.example-header-image {
  background-image: url("../../../../assets/images/starPng.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  text-align: center;
}
.grade {
  position: relative;
  top: 20%;
}

.icon-display {
  transform: scale(0.7);
  color: yellow;
}

.movie-poster {
  width: 260px;
  height: 220px;
}
