* {
  overflow: hidden;
}

.movie-details-actions {
  text-align: right;
}

.movie-poster {
  background-size: cover;
  background-repeat: no-repeat;
  width: 30%;
  height: 100%;
}
.movie-tab {
  color: white;
}
.movie-tab h1 {
  margin-top: 1rem;
  font-size: xx-large;
  font-family: "Times New Roman", serif;
}

.review-tab {
  color: white;
  text-align: center;
}
