<p>
  <mat-toolbar>
    <mat-icon style="color: red">movie</mat-icon>
    <span class="title">Movies Database</span>
    <button (click)="onAdd()" *ngIf="isAdmin" mat-icon-button type="button">
      <mat-icon>add</mat-icon>
    </button>
    <span class="example-spacer"></span>

    <a routerLink="/movies" routerLinkActive="active">Movies</a>
    <mat-icon>theaters</mat-icon>
    <a routerLink="/watchlist" routerLinkActive="active">Watchlist</a>

    <span class="example-spacer"></span>

    <input
      style="border-radius: 10px"
      matInput
      (input)="onChange()"
      type="text"
      [(ngModel)]="value.search"
    />

    <button
      (click)="openModal.next(true)"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>tune</mat-icon>
    </button>
    |

    <button
      routerLink="../auth"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="onLogout()"
    >
      <mat-icon style="color: red">logout</mat-icon>
    </button>
  </mat-toolbar>
</p>

<app-filtering [open]="openModal"></app-filtering>
